.cv-trustbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fcfcfc;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 20px 5%;
  flex-wrap: wrap;
  gap: 20px;
}

.trust-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.trust-icon {
  font-size: 1.5rem;
  /* Aplicamos el color vino a los íconos si fueran fuentes, con emojis queda normal */
}

.trust-item p {
  font-family: var(--font-principal);
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--color-negro);
  margin: 0;
}