:root {
  --color-negro: #1a1a1a;
  --color-blanco: #ffffff;
  --color-vino: #85123e;
  --color-rosa-claro: #ffb3c6;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-blanco);
  color: var(--color-negro);
}