:root {
  --color-negro: #1a1a1a;
  --color-blanco: #ffffff;
  --color-wine: #85123e;
  --font-principal: 'Montserrat', sans-serif;
}
body { margin: 0; font-family: var(--font-principal); background-color: var(--color-blanco); }